# Ignorar dependencias pesadas y archivos sensibles del proyecto
**/node_modules
**/vendor
**/dist
**/.env
**/.env.local
**/.env.*
**/public/storage
**/storage/*.key
*.sqlite
*.sqlite-journal
*.log
.DS_Store
Thumbs.db
*.zip
*.bundle
